@font-face {
  font-family: 'Sahmyook University';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/SahmyookUniversity/SahmyookUniversity-Light.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/SahmyookUniversity/SahmyookUniversity-Light.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/SahmyookUniversity/SahmyookUniversity-Light.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/SahmyookUniversity/SahmyookUniversity-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Sahmyook University';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/SahmyookUniversity/SahmyookUniversity-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/SahmyookUniversity/SahmyookUniversity-Regular.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/SahmyookUniversity/SahmyookUniversity-Regular.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/SahmyookUniversity/SahmyookUniversity-Regular.ttf') format('truetype');
}